<md-card>
  <md-card-title>
    Hey, I'm Matt
  </md-card-title>
  <md-card-subtitle>
    You can find me on...
  </md-card-subtitle>
  <md-card-content>
    <!--<md-divider></md-divider>-->
    <md-nav-list>
      <a md-list-item href="https://github.com/entrocode">
        <i md-list-icon class="fa fa-github-square fa-2x" aria-hidden="true"></i>
        <h4 md-line>github</h4>
      </a>
      <a md-list-item href="https://twitter.com/entrocode">
        <i md-list-icon class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        <h4 md-line>twitter</h4>
      </a>
      <a md-list-item href="https://facebook.com/entrocode">
        <i md-list-icon class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        <h4 md-line>facebook</h4>
      </a>
      <a md-list-item href="https://instagram.com/entrocode">
        <i md-list-icon class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        <h4 md-line>instagram</h4>
      </a>
    </md-nav-list>
  </md-card-content>
</md-card>