<div class="content-container">
  <div class="content-area">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            Welcome!
          </div>
          <div class="card-block">
            <div class="card-text">
              <markdown>
                This site is my test bed. Easy to maintain and I get some commits in the process. <i class="fa fa-smile-o"
                  aria-hidden="true"></i>

                You can find me on...
              </markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="card clickable" href="https://github.com/martzcodes">
          <div class="card-header">
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i> GitHub
          </div>
          <!--<div class="card-block">
            <div class="card-text">
              
            </div>
          </div>-->
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="card clickable" href="https://twitter.com/martzcodes">
          <div class="card-header">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> Twitter
          </div>
          <!--<div class="card-block">
            <div class="card-text">
              
            </div>
          </div>-->
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="card clickable" href="https://facebook.com/martzcodes">
          <div class="card-header">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> Facebook
          </div>
          <!--<div class="card-block">
            <div class="card-text">
              
            </div>
          </div>-->
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="card clickable" href="https://instagram.com/martzcodes">
          <div class="card-header">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> Instagram
          </div>
          <!--<div class="card-block">
            <div class="card-text">
              
            </div>
          </div>-->
        </a>
      </div>
    </div>
  </div>
</div>