@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url('/bg.png');
}

.profile {
  background-image: url('/martzcodes-profile.png');
}

.profile-mobile {
  background-image: url('/martzcodes-profile-mobile.png');
}