/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.app{
    height: 100vh;    // emmet h100vh
}

md-toolbar {
  z-index: 10;     // emmet z10
}

md-sidenav {
    width: 40vw;   // emmet w40vw
}